{% extends 'base_layout.html' %}

{% block title %}
    FAB | Market
{% endblock %}

{% block fusion_chart_lib %}
     {% load static %}
        <script type="text/javascript" src="{% static "fusioncharts/fusioncharts.js" %}"></script>
    	<script type="text/javascript" src="{% static "fusioncharts/themes/fusioncharts.theme.fusion.js" %}"></script>
{% endblock %}


{% block content %}

      <!-- Page title and tags starts -->
    <div class="center-align" style="margin-bottom: 20px;">
        <h3 style="font-weight: bold;">Market</h3>
        <h6 class="grey-text text-darken-2 container">
            "Finance is not merely about making money. It's about achieving our
            deep goals and protecting the fruits of our labor. It's about stewardship
            and, therefore, about achieving the good society." - Robert J. Shiller
        </h6>
    </div>

    <br>

    <div class="row center-align col s12 m8 l8">
        <div class="col s12 m6 l6">
             <!-- Tags -->
             <div style="margin-top: 20px;">

                 {% for graph_name in selectedGraph %}
                      <div class="chip">
                        {{ graph_name }}
                      </div>
                 {% endfor %}

            </div><!-- Tags End hers-->
        </div>
        <div class="col s12 m6 l6">
            <!-- Switch -->
              <div class="switch">
                <label>
                  Predictor
                  <input type="checkbox">
                  <span class="lever"></span>
                </label>
              </div>
            <!-- end of switch -->
            <br>
             <!-- Switch -->
              <div class="switch">
                <label>
                  Candlestick
                  <input type="checkbox">
                  <span class="lever"></span>
                </label>
              </div>
            <!-- end of switch -->
        </div>
    </div>

    <div class="row">
        <!-- Control Panel -->
        <section class="center col s12 m4 l2">

           <!-- Domestic Modal Trigger -->
            <div>
                  <a class="btn-floating btn-large waves-effect waves-light red modal-trigger"  href="#domesticStockModal">
                      <i class="material-icons">add</i>
                  </a>
            </div>
              <br>
              <form id="form1" action="{% url 'market:chart' %}" method="post" >
                   {% csrf_token %}
                  <!-- Modal Structure -->
                  <div id="domesticStockModal" class="modal modal-fixed-footer">
                    <div class="modal-content">
                      <h4>Domestic Stocks</h4>
                        <!-- tab stocks -->
                        <div>
                            <ul class="tabs">
                                <li class="tab">
                                    <a href="#financialSev" class="cognac-text text-darken-4">Financial & nsurance</a>
                                </li>
                                <li class="tab">
                                    <a href="#retail" class="cognac-text text-darken-4">Retail</a>
                                </li>
                                <li class="tab">
                                    <a href="#property" class="cognac-text text-darken-4">Property</a>
                                </li>
                                <li class="tab">
                                    <a href="#banking" class="cognac-text text-darken-4">Banking</a>
                                </li>
                                <li class="tab">
                                    <a href="#other" class="cognac-text text-darken-4">Other</a>
                                </li>
                            </ul>
                           <!-- financial Services and Insurance tab -->
                            <div class="col s12" id ="financialSev">
                                <div class="container">

                                    <div class="col s12 m6 l6 center-align">
                                        <br>
                                        <!-- Switch -->
                                          <div class="switch">
                                            <label>
                                              Bihl
                                              <!--<input type="checkbox" name="bihl">-->
                                                {{ domesticform.d_bihl_checkbox }}
                                              <span class="lever"></span>
                                            </label>
                                          </div>
                                        <!-- end of switch -->
                                        <br>
                                        <!-- Switch -->
                                          <div class="switch">
                                            <label>
                                              Letshego
                                             {{ domesticform.d_letshego_checkbox }}
                                              <span class="lever"></span>
                                            </label>
                                          </div>
                                        <!-- end of switch -->
                                    </div>

                                </div>
                            </div>
                            <!-- end of financial Services and Insurance tab -->
                            <!-- Retail and Wholesale tab -->
                            <div class="col s12" id ="retail">
                                <div class="container">

                                    <div class="col s12 m6 l6">
                                        <br>
                                        <!-- Switch -->
                                          <div class="switch">
                                            <label>
                                              Choppies
                                               {{ domesticform.d_choppies_checkbox }}
                                              <span class="lever"></span>
                                            </label>
                                          </div>
                                        <!-- end of switch -->
                                        <br>
                                        <!-- Switch -->
                                          <div class="switch">
                                            <label>
                                              Furnmart
                                              {{ domesticform.d_furnmart_checkbox }}
                                              <span class="lever"></span>
                                            </label>
                                          </div>
                                        <!-- end of switch -->
                                        <br>
                                         <!-- Switch -->
                                          <div class="switch">
                                            <label>
                                              Sechaba
                                                {{ domesticform.d_sechaba_checkbox }}
                                              <span class="lever"></span>
                                            </label>
                                          </div>
                                        <!-- end of switch -->
                                        <br>
                                         <!-- Switch -->
                                          <div class="switch">
                                            <label>
                                              Sefalana
                                            {{ domesticform.d_sefalana_checkbox }}
                                              <span class="lever"></span>
                                            </label>
                                          </div>
                                        <!-- end of switch -->
                                        <br>
                                        <!-- Switch -->
                                          <div class="switch">
                                            <label>
                                              Olympia
                                             {{ domesticform.d_olympia_checkbox }}
                                              <span class="lever"></span>
                                            </label>
                                          </div>
                                        <!-- end of switch -->
                                    </div>

                                </div>
                            </div>
                            <!-- end Retail and Wholesale tab -->
                            <!-- Property tab -->
                            <div class="col s12" id ="property">
                                <div class="container">

                                    <div class="col s12 m6 l6">
                                        <br>
                                        <!-- Switch -->
                                          <div class="switch">
                                            <label>
                                              Turnstar
                                             {{ domesticform.d_turnstar_checkbox }}
                                              <span class="lever"></span>
                                            </label>
                                          </div>
                                        <!-- end of switch -->
                                        <br>
                                        <!-- Switch -->
                                          <div class="switch">
                                            <label>
                                              RDCP
                                             {{ domesticform.d_rcdp_checkbox }}
                                              <span class="lever"></span>
                                            </label>
                                          </div>
                                        <!-- end of switch -->
                                        <br>
                                         <!-- Switch -->
                                          <div class="switch">
                                            <label>
                                              PrimeTime
                                             {{ domesticform.d_primetime_checkbox }}
                                              <span class="lever"></span>
                                            </label>
                                          </div>
                                        <!-- end of switch -->
                                        <br>
                                         <!-- Switch -->
                                          <div class="switch">
                                            <label>
                                              Letlole
                                             {{ domesticform.d_letlole_checkbox }}
                                              <span class="lever"></span>
                                            </label>
                                          </div>
                                        <!-- end of switch -->
                                        <br>
                                        <!-- Switch -->
                                          <div class="switch">
                                            <label>
                                              NAP
                                              {{ domesticform.d_nap_checkbox }}
                                              <span class="lever"></span>
                                            </label>
                                          </div>
                                        <!-- end of switch -->
                                    </div>

                                </div>
                            </div>
                            <!-- end Property tab -->
                             <!-- Banking tab -->
                            <div class="col s12" id ="banking">
                                <div class="container">

                                    <div class="col s12 m6 l6 center-align">
                                        <br>
                                        <!-- Switch -->
                                          <div class="switch">
                                            <label>
                                              Barclays
                                              {{ domesticform.d_barclays_checkbox }}
                                              <span class="lever"></span>
                                            </label>
                                          </div>
                                        <!-- end of switch -->
                                        <br>
                                        <!-- Switch -->
                                          <div class="switch">
                                            <label>
                                              FNBB
                                              {{ domesticform.d_fnbb_checkbox }}
                                                <span class="lever"></span>
                                            </label>
                                          </div>
                                        <!-- end of switch -->
                                        <br>
                                         <!-- Switch -->
                                          <div class="switch">
                                            <label>
                                              Stanchart
                                              {{ domesticform.d_stanchart_checkbox }}
                                              <span class="lever"></span>
                                            </label>
                                          </div>
                                        <!-- end of switch -->
                                    </div>

                                </div>
                            </div>
                            <!-- Banking tab -->
                             <!-- Other tab -->
                            <div class="col s12" id ="other">
                                <div class="container">

                                    <div class="col s12 m6 l6">
                                        <br>
                                        <!-- Switch -->
                                          <div class="switch">
                                            <label>
                                              G4S
                                             {{ domesticform.d_g4s_checkbox }}
                                              <span class="lever"></span>
                                            </label>
                                          </div>
                                        <!-- end of switch -->
                                        <br>
                                        <!-- Switch -->
                                          <div class="switch">
                                            <label>
                                              Cresta
                                              {{ domesticform.d_cresta_checkbox }}
                                              <span class="lever"></span>
                                            </label>
                                          </div>
                                        <!-- end of switch -->
                                        <br>
                                         <!-- Switch -->
                                          <div class="switch">
                                            <label>
                                              Engen
                                             {{ domesticform.d_engen_checkbox }}
                                              <span class="lever"></span>
                                            </label>
                                          </div>
                                        <!-- end of switch -->
                                        <br>
                                        <!-- Switch -->
                                          <div class="switch">
                                            <label>
                                              Minergy
                                              {{ domesticform.d_minergy_checkbox }}
                                              <span class="lever"></span>
                                            </label>
                                          </div>
                                        <!-- end of switch -->
                                        <br>
                                        <!-- Switch -->
                                          <div class="switch">
                                            <label>
                                              Seed Co
                                              {{ domesticform.d_seedco_checkbox }}
                                              <span class="lever"></span>
                                            </label>
                                          </div>
                                        <!-- end of switch -->
                                    </div>

                                </div>
                            </div>
                            <!-- Other tab -->
                        </div>
                        <!-- end of tab stocks -->
                    </div>
                    <div class="modal-footer">
                      <button class="modal-close waves-effect waves-green btn-flat cognac cream-text" type="submit">Okay</button>
                    </div>
                  </div>
              </form>

                 <!-- Index Modal Trigger -->
            <div>
                  <a class="btn-floating btn-large waves-effect waves-light blue modal-trigger"  href="#indexStockModal">
                      <i class="material-icons">playlist_add</i>
                  </a>
            </div>
              <br>
              <form id="form2" action="{% url 'market:chart' %}" method="post" >
                   {% csrf_token %}
                  <!-- Modal Structure -->
                  <div id="indexStockModal" class="modal modal-fixed-footer">

                    <div class="modal-content">

                      <h4>Choose Stocks to form Indexies</h4>
                        <div class=" container row col s12 m6 l4">
                            <br>
                             <!-- Switch -->
                              <div class="switch">
                                <label>
                                  Barclays
                                  <!--<input type="checkbox">-->
                                    {{ indexform.i_barclays_checkbox }}
                                  <span class="lever"></span>
                                </label>
                              </div>
                            <!-- end of switch -->
                                <br>
                              <!-- Switch -->
                              <div class="switch">
                                <label>
                                  Bihl
                                  <!--<input type="checkbox" >-->
                                    {{ indexform.i_bihl_checkbox }}
                                  <span class="lever"></span>
                                </label>
                              </div>
                            <!-- end of switch -->
                                 <br>
                              <!-- Switch -->
                              <div class="switch">
                                <label>
                                  Choppies
                                  <!--<input type="checkbox">-->
                                    {{ indexform.i_choppies_checkbox }}
                                  <span class="lever"></span>
                                </label>
                              </div>
                            <!-- end of switch -->
                                 <br>
                              <!-- Switch -->
                              <div class="switch">
                                <label>
                                  Cresta
                                  <!--<input type="checkbox">-->
                                    {{ indexform.i_cresta_checkbox }}
                                  <span class="lever"></span>
                                </label>
                              </div>
                            <!-- end of switch -->
                                 <br>
                              <!-- Switch -->
                              <div class="switch">
                                <label>
                                  Engen
                                  <!--<input type="checkbox">-->
                                    {{ indexform.i_engen_checkbox }}
                                  <span class="lever"></span>
                                </label>
                              </div>
                            <!-- end of switch -->
                                 <br>
                              <!-- Switch -->
                              <div class="switch">
                                <label>
                                  Fnbb
                                  <!--<input type="checkbox">-->
                                    {{ indexform.i_fnbb_checkbox }}
                                  <span class="lever"></span>
                                </label>
                              </div>
                            <!-- end of switch -->
                                 <br>
                              <!-- Switch -->
                              <div class="switch">
                                <label>
                                  Furnmart
                                  <!--<input type="checkbox" >-->
                                    {{ indexform.i_furnmart_checkbox }}
                                  <span class="lever"></span>
                                </label>
                              </div>
                            <!-- end of switch -->
                                 <br>
                              <!-- Switch -->
                              <div class="switch">
                                <label>
                                  G4S
                                  <!--<input type="checkbox">-->
                                    {{ indexform.i_g4s_checkbox }}
                                  <span class="lever"></span>
                                </label>
                              </div>
                            <!-- end of switch -->
                                 <br>
                              <!-- Switch -->
                              <div class="switch">
                                <label>
                                  Letlole
                                  <!--<input type="checkbox" >-->
                                    {{ indexform.i_letlole_checkbox }}
                                  <span class="lever"></span>
                                </label>
                              </div>
                            <!-- end of switch -->
                                 <br>
                              <!-- Switch -->
                              <div class="switch">
                                <label>
                                    Letshego
                                  <!--<input type="checkbox" >-->
                                    {{ indexform.i_letshego_checkbox }}
                                  <span class="lever"></span>
                                </label>
                              </div>
                            <!-- end of switch -->
                                 <br>
                              <!-- Switch -->
                              <div class="switch">
                                <label>
                                  Minergy
                                  <!--<input type="checkbox" >-->
                                    {{ indexform.i_minergy_checkbox }}
                                  <span class="lever"></span>
                                </label>
                              </div>
                            <!-- end of switch -->
                                 <br>
                              <!-- Switch -->
                              <div class="switch">
                                <label>
                                  Nap
                                  <!--<input type="checkbox" >-->
                                    {{ indexform.i_nap_checkbox }}
                                  <span class="lever"></span>
                                </label>
                              </div>
                            <!-- end of switch -->
                                 <br>
                              <!-- Switch -->
                              <div class="switch">
                                <label>
                                  Olympia
                                  <!--<input type="checkbox" >-->
                                    {{ indexform.i_olympia_checkbox }}
                                  <span class="lever"></span>
                                </label>
                              </div>
                            <!-- end of switch -->
                                 <br>
                              <!-- Switch -->
                              <div class="switch">
                                <label>
                                  Primetime
                                  <!--<input type="checkbox">-->
                                    {{ indexform.i_primetime_checkbox }}
                                  <span class="lever"></span>
                                </label>
                              </div>
                            <!-- end of switch -->
                                 <br>
                              <!-- Switch -->
                              <div class="switch">
                                <label>
                                  Rcdp
                                  <!--<input type="checkbox" >-->
                                    {{ indexform.i_rcdp_checkbox }}
                                  <span class="lever"></span>
                                </label>
                              </div>
                            <!-- end of switch -->
                                 <br>
                              <!-- Switch -->
                              <div class="switch">
                                <label>
                                  Sechaba
                                  <!--<input type="checkbox" >-->
                                    {{ indexform.i_sechaba_checkbox }}
                                  <span class="lever"></span>
                                </label>
                              </div>
                            <!-- end of switch -->
                               <br>
                              <!-- Switch -->
                              <div class="switch">
                                <label>
                                  SeeCo
                                  <!--<input type="checkbox">-->
                                    {{ indexform.i_seedco_checkbox }}
                                  <span class="lever"></span>
                                </label>
                              </div>
                            <!-- end of switch -->
                               <br>
                              <!-- Switch -->
                              <div class="switch">
                                <label>
                                  Sefalana
                                  <!--<input type="checkbox">-->
                                    {{ indexform.i_sefalana_checkbox }}
                                  <span class="lever"></span>
                                </label>
                              </div>
                            <!-- end of switch -->
                               <br>
                              <!-- Switch -->
                              <div class="switch">
                                <label>
                                  Standchart
                                  <!--<input type="checkbox" -->
                                    {{ indexform.i_stanchart_checkbox }}
                                  <span class="lever"></span>
                                </label>
                              </div>
                            <!-- end of switch -->
                               <br>
                              <!-- Switch -->
                              <div class="switch">
                                <label>
                                  Turnstar
                                  <!--<input type="checkbox">-->
                                    {{ indexform.i_turnstar_checkbox }}
                                  <span class="lever"></span>
                                </label>
                              </div>
                            <!-- end of switch -->
                        </div>

                    </div>

                    <div class="modal-footer">
                      <button class="modal-close waves-effect waves-green btn-flat cognac cream-text" type="submit">Okay</button>
                    </div>
                  </div>
              </form>

              <div>
                  <a class="btn-floating btn-large waves-effect waves-light green-text"  href="{% url 'market:chart' %}">
                      <i class="material-icons">refresh</i>
                  </a>
              </div>
              <br>
        </section>
        <!-- end of control Panel -->
        <!-- Graph -->
        <section class="center-align col s12 m8 l8">
             <div class="col s12 m12 l12" id="chart">
                 {{ output|safe }}
             </div>
        </section>
        <!-- end of graph -->
        <!-- Daily dose  -->
        <section class="center col s12 m12 l2">
            <div class="row">
                 <div class="carousel carousel-slider center">
                     {% for stock, dose in daily.items %}
                        <div class="carousel-item amber white-text" >
                          <h2>{{ stock }}</h2>
                          <p class="white-text">Price: {{ dose.0 }}</p>
                            <p class="white-text">Price Change: {{ dose.1 }}</p>
                            <p class="white-text">Volume: {{ dose.2 }}</p>
                            <p class="white-text">Low: {{ dose.3 }}</p>
                            <p class="white-text">High: {{ dose.4 }}</p>
                        </div>
                     {% endfor %}
              </div>
            </div>
        </section>
         <!-- end of Daily dose -->
    </div>
    <br>
        <!-- Articles -->
    <div class="container">
        <section class="container center col s12 m12 l2">
            <div class="row">
                <ul class="collapsible">

                    {% for article in Articles %}
                        <li>
                          <div class="collapsible-header">{{ article.title }}</div>
                          <div class="collapsible-body">
                              <span>
                                  {{ article.snippet }}
                                  <a href="{% url 'articles:detail' slug=article.slug %}" class="deep-orange-text">
                                      Read More
                                  </a>
                              </span>
                          </div>
                        </li>
                     {% endfor %}

                </ul>
            </div>
        </section>
    </div>
        <!-- end of Articles -->
    <br>
{% endblock %}
{% block jquery %}
    $('.modal').modal();
    $('.tabs').tabs();
    $('.collapsible').collapsible();
    $('.carousel.carousel-slider').carousel({
        fullWidth: true,
        indicators: true
     });
    $("form").click(function (){

         let checkboxes = document.getElementsByClassName("domesticStocks");
         let numberOfCheckedItems = 0;

         for(let i = 0; i < checkboxes.length; i++){
            if(checkboxes[i].checked)
            numberOfCheckedItems++;
         }
         if(numberOfCheckedItems > 3){
            M.toast({html: 'Choose 3 or less Domestic Stocks!', classes: 'rounded'});
            return false;
         }
    });
{% endblock %}